In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#Load CSV files
Traffic_accidents = Path('Resources/Automobile_KSI.xlsx')
Traffic_df = pd.read_excel(Traffic_accidents)

Car_thefts = Path('Resources/Auto_Theft_Open_Data.xlsx')
Theft_df = pd.read_excel(Car_thefts)

In [3]:
#Clean Data Traffic Accident
Traffic_df_all=Traffic_df[['DATE','MONTH','YEAR','STREET1','STREET2','ROAD_CLASS','DISTRICT','LATITUDE','LONGITUDE','LIGHT','RDSFCOND','ACCLASS','INVAGE','HOOD_158','NEIGHBOURHOOD_158']]
Traffic_df_2018_2023 = Traffic_df_all.loc[Traffic_df_all['YEAR'].isin([2018, 2019, 2020,2021,2022,2023])]
Traffic_df_clean_2018_2023=Traffic_df_2018_2023[Traffic_df_2018_2023['HOOD_158'] != 'NSA']
Traffic_df_clean_2018_2023.reset_index(drop=True, inplace=True)

In [4]:
#Clean Data Theft 
Theft_df_all=Theft_df[['OCC_DATE','REPORT_YEAR','REPORT_MONTH','OFFENCE','HOOD_158','NEIGHBOURHOOD_158']]
Theft_df_2018_2023 = Theft_df_all.loc[Theft_df_all['REPORT_YEAR'].isin([2018, 2019, 2020,2021,2022,2023])]
Theft_df_2018_2023.rename(columns={'REPORT_YEAR': 'YEAR'}, inplace=True)
Theft_df_clean_2018_2023 = Theft_df_2018_2023[Theft_df_2018_2023['HOOD_158'] != 'NSA']
Theft_df_clean_2018_2023.reset_index(drop=True, inplace=True)

C:\Users\cadkm\AppData\Local\Temp\ipykernel_15032\1434669781.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Theft_df_2018_2023.rename(columns={'REPORT_YEAR': 'YEAR'}, inplace=True)

In [5]:
# Convert the DataFrame to JSON format
json_traffic = Traffic_df_clean_2018_2023.to_json(orient='records')
json_theft = Theft_df_clean_2018_2023.to_json(orient='records')

# Write the JSON data to a new file
with open('Resources/traffic_accidents_data.json', 'w') as json_file:
    json_file.write(json_traffic)

with open('Resources/theft_data.json', 'w') as json_file:
    json_file.write(json_theft)

In [6]:
#Store the dataframe Theft_df_clean_2018_2023 in sqlite
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Resources/theft_data.db')
Theft_df_clean_2018_2023.to_sql('theft_data', con=engine, index=False)

ValueError: Table 'theft_data' already exists.

In [7]:
#Store the dataframe Traffic_df_clean_2018_2023 in sqlite
engine = create_engine('sqlite:///Resources/traffic_accidents_data.db')
Traffic_df_clean_2018_2023.to_sql('traffic_accidents_data', con=engine, index=False)

4253